.LogIn {
	& > form {
		display: flex;
		flex-flow: column wrap;
		padding: 1.5rem 1rem 0;
		gap: 1rem;
		& > .InputGroup {
			display: flex;
			gap: 1rem;
			padding: 0 1rem;
			& > label {
				display: block;
				font-size: 1.2rem;
				font-weight: 400;
				padding-right: 2rem;
			}
			& > input {
				flex: 1;
				border-radius: 5px;
				padding: 0.25rem 0.5rem;
			}
			& > input::placeholder {
				font-weight: 100;
			}
		}
		.ButtonGroup {
			display: flex;
			width: 100%;
			justify-content: center;
			gap: 2rem;
			padding: 2rem 0;
			& > button {
				all: unset;
				padding: 0.5rem 1rem;
				border-radius: 5px;
			}
			& > button[type="submit"] {
				background-color: var(--secondary-blue-color);
				color: var(--primary-txt-color);
			}
		}
	}
}
@media screen and (max-width: 375px) {
	.LogIn {
		display: flex;
		flex-flow: column wrap;
		gap: 1rem;
		& > form {
			padding: 1.5rem 0 0;
			& > .InputGroup {
				display: flex;
				flex-flow: column nowrap;
				gap: 1rem;
				padding: 0 1rem;

				& > label {
					display: block;
					font-size: 1.2rem;
					font-weight: 400;
				}
				& > input {
					flex: 1;
					border-radius: 5px;
				}
				& > input::placeholder {
					font-weight: 100;
				}
			}
			.ButtonGroup {
				display: flex;
				width: 100%;
				justify-content: center;
				gap: 2rem;
				padding: 2rem 0;
				& > button {
					all: unset;
					padding: 0.5rem 1rem;
					border-radius: 5px;
				}
				& > button[type="submit"] {
					background-color: var(--secondary-blue-color);
					color: var(--primary-txt-color);
				}
			}
		}
	}
}
