.Modal {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #f7f7f7;
	color: #000;
	z-index: 100;

	& > .ModalWrapper {
		display: flex;
		flex-flow: column nowrap;
		width: 25rem;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
		.ModalHeader {
			display: flex;
			background-color: #f4f4f4;
			padding: 1rem 2rem;
			border-bottom: 1px solid #ccc;
			justify-content: space-between;

			align-items: center;
			& > h3 {
				display: block;
				z-index: 5;
			}
			& > .CloseButton {
				all: unset;
				color: #f00;
				font-size: 2rem;
			}
		}
	}
}
